<ul id="chatBoxTextAreaId" class="message-list collection" style="background-color: #EDEEF2">
  <li ng-if="!message.content.CompilerNotification" style="background-color: #EDEEF2" class="collection-item message-item avatar user-message-container" ng-repeat="message in messages track by message.uuid">
    <message-Item id="{{message.uuid}}"  content="message.content" sender-uuid="{{message.sender_uuid}}" date="{{message.date}}"></message-Item>
      <div  ng-hide="pageType=='user'" class="panel-footer clearfix">
          <div class="pull-right">
              <button  class="btn btn-light-green" ng-click="provideEdtTxtToggleBar=!provideEdtTxtToggleBar">PROVIDE ANSWER</button>
          </div>
      </div>
      <div ng-if="provideEdtTxtToggleBar">
          <div ng-if="channelGroup == true"
               ng-class="" class="panel panel-primary">
              <div class="panel-body">
               <textarea  style="position: absolute;left: -9px;width: 87%;bottom: 16%;" ng-model="userMessage" rows="4" cols="50">
               </textarea>
              </div>
              <div class="panel-footer clearfix">
                  <div class="pull-right">
                      <a ng-click="provideAnswer(userMessage,message)" class="btn btn-default">SEND</a>
                  </div>
              </div>
          </div>
      </div>
  </li>
</ul> 