<!--Navigation & Intro-->
<header>
    <!--Navbar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="container">
            <a><img src="../../img/GeekPlaceLogo.png" alt="Paris" width="40" height="40"></a>
            <a class="navbar-brand" style="margin-left: 13px;margin-top: 6px" href="#"><strong>GeekPlace</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--Links-->
                <ul class="navbar-nav mr-auto smooth-scroll">
                  <!--  <li class="nav-item">
                        <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about" data-offset="100">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features" data-offset="100">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#demo" data-offset="100">Live Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials" data-offset="100">Opinions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#download" data-offset="100">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#modal-contact">Contact</a>
                    </li>-->
                </ul>

                <!--Social Icons-->
                <ul class="navbar-nav nav-flex-icons">
                   <!-- <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                    </li>-->
                    <li class="nav-item">
                        <!--<a class="btn btn-rounded btn-info" data-toggle="modal" data-target="#modal-signup">Sign Up</a>
                        <button class="btn blue-gradient btn-rounded">Log In</button>-->
                        <a style="cursor: pointer" data-offset="100" class="btn btn-rounded btn-indigo-2 wow fadeInLeft" data-toggle="modal" data-target="#modal-signin" >Log In</a>
                    </li>
                    <li class="nav-item">
                        <!--<button class="btn aqua-gradient btn-rounded">Sign Up</button>-->
                        <a style="cursor: pointer" class="btn btn-rounded btn-info" data-toggle="modal" data-target="#modal-signup">Sign Up</a>
                    </li>

                  <!--  <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-instagram"></i></a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
    <!--/Navbar-->

    <!-- Intro Section -->
    <video autoplay muted loop id="myVideo">
        <source src="../../videos/geekPlaceBackground.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div id="home" style="position: absolute;top: 0px;" class="view hm-black-strong-1 jarallax background-video-content" data-jarallax='{"speed": 0.2}'>
       <!-- <div id="home" class="view hm-black-strong-1 jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../../img/main.jpg);">-->
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="row smooth-scroll">
                    <div class="col-md-12 white-text text-center">
                        <div class="wow fadeInDown" data-wow-delay="0.2s">
                            <h2 class="display-3 font-bold mb-2">GeekPlace</h2>
                            <hr class="hr-light w-50">
                            <h3 class="subtext-header mt-2 mb-5"></h3>
                        </div>
                       <!-- <a href="#demo" data-offset="100" class="btn btn-rounded btn-indigo-2 wow fadeInLeft" data-wow-delay="0.2s">Demo</a>
                        <a href="#features" data-offset="100" class="btn btn-rounded btn-info wow fadeInRight" data-wow-delay="0.2s">Features</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Modal Sign Up-->
    <div class="modal fade modal-ext" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel1">SIGN UP</h4>
                </div>
                <!--Body-->
                <div class="modal-body"><!--<p>Sign Up</p>-->

                    <!--<br>-->
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input ng-model="user.fullName" type="text" id="form-username" class="form-control">
                        <label for="form-username">Full Name</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input ng-model="user.email" type="text" id="user-emailaddress" class="form-control">
                        <label for="user-emailaddress">E-mail</label>
                    </div>

                    <div class="md-form">
                        <i class="a fa-tag prefix"></i>
                        <input  ng-model="user.password" type="text" id="user-password" class="form-control">
                        <label for="user-password">Password</label>
                    </div>

                    <div class="text-center">
                        <button ng-click="userRegistration()" class="btn btn-lg btn-outline-cyan waves-effect">Submit</button>

                        <div class="call">
                            <p>Or would you prefer to call? <span class="cf-phone"><i class="fa fa-phone"></i>+01 234 565 280</span></p>
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-stylish waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!--/Content-->
        </div>
    </div>
    <!--/Modal Contact-->

    <!--Modal Sign In-->
    <div class="modal fade modal-ext" id="modal-signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabelSignIn">LOG IN</h4>
                </div>
                <!--Body-->
                <div class="modal-body">
                   <!-- <p>Sign Up</p>
                    <br>-->
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input  ng-model="user.email" type="text" id="form-useremail" class="form-control">
                        <label  for="form-useremail">Your email</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input ng-model="user.password" type="text" id="user-email" class="form-control">
                        <label for="user-email">Your password</label>
                    </div>

                    <div class="text-center">
                        <button ng-click="userLogin()" class="btn btn-lg btn-outline-cyan waves-effect">Submit</button>

                        <div class="call">
                            <h2 class="horizontalline-withTest"><span>or</span></h2>
                            <div>
                                <button type="button" ng-click="onFacebookLogin()" class="btn btn-fb"><i class="fab fa-facebook-f pr-1"></i> Sign in with Facebook</button>
                            </div>
                            <div>
                                <button type="button"  ng-click="onGoogleLogin()" class="btn btn-gplus"><i class="fab fa-google-plus-g pr-1"></i>Sign in with Google</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                   <!-- <button type="button" class="btn btn-outline-stylish waves-effect" data-dismiss="modal">Close</button>-->
                </div>
            </div>
            <!--/Content-->
        </div>
    </div>
    <!--/Modal Contact-->

    <!--Modal Contact-->
    <div class="modal fade modal-ext" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Write to us</h4>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <p>We like to receive a messages.</p>
                    <br>
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input type="text" ng-model="contactMessage.name" id="form221" class="form-control">
                        <label for="form221" >Your name</label>
                    </div>

                   <!-- <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" id="form3211" class="form-control">
                        <label for="form34">Your email</label>
                    </div>-->

                    <div class="md-form">
                        <i class="fa fa-tag prefix"></i>
                        <input type="text" ng-model="contactMessage.subject" id="form321" class="form-control">
                        <label for="form321">Subject</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-pencil prefix"></i>
                        <textarea type="text" ng-model="contactMessage.query" id="form8" class="md-textarea"></textarea>
                        <label for="form8">Write your query</label>
                    </div>

                    <div class="text-center">
                        <button  ng-click="userQuery()" class="btn btn-lg btn-outline-cyan waves-effect">Submit</button>

                        <div class="call">
                            <p>Or would you prefer to call? <span class="cf-phone"><i class="fa fa-phone"></i>+1 519 500 5830</span></p>
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-stylish waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!--/Content-->
        </div>
    </div>
    <!--/Modal Contact-->

    <!-- Modal Subscription -->
    <div class="modal fade modal-ext" id="modal-subscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel11">Subscription form</h4>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <p>We'll write rarely, but only the best content.</p>
                    <br>
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input type="text" id="form22" class="form-control">
                        <label for="form22">Your name</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" id="form32" class="form-control">
                        <label for="form32">Your email</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--/Modal subscription-->

</header>
<!--/Navigation & Intro-->

<!--Main content-->
<main>

    <!--First container-->
    <div class="container">

        <!--Section: Features v.1-->
        <section id="features" class="section feature-box mt-4 mb-5">

            <!--Section heading-->
            <!--<h1 class="mb-3  my-5 pt-5 font-bold wow fadeIn" data-wow-delay="0.2s">Features</h1>-->

            <!--Section description-->
            <p class="section-description wow fadeIn" data-wow-delay="0.2s">
              GeekPlace is an online Learning platform designed especially for the knowledge seekers both for the begineers and experienced onces.</p>

            <!--First row-->
            <div class="row features">

                <div class="col-lg-4 text-center">
                    <div class="icon-area">
                        <div class="circle-icon">
                            <i class="fa fa-gears"></i>
                        </div>
                        <br>
                        <strong>Ask Expert</strong>
                        <div class="mt-1">
                            <p>GeekPlace has the feature like asking doubts from domain person and transfering code to them.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="icon-area">
                        <div class="circle-icon">
                            <i class="fa fa-book"></i>
                        </div>
                        <br>
                        <strong>Programming Blogs</strong>
                        <div class="mt-1">
                            <p>GeekPlace has the blogs and tutorials related to the programming language which enhance your skills</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 text-center mb-4">
                    <div class="icon-area">
                        <div class="circle-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <br>
                        <strong>Free Support</strong>
                        <div class="mt-1">
                            <p>Get free support from the programming experts from their domain.</p>
                        </div>
                    </div>
                </div>

            </div>
            <!--/First row-->

        </section>
        <!--/Section: Features v.1-->

        <hr class="between-sections">

        <!--Section: About-->
        <section id="about" class="section features-5">

            <!--First row-->
            <div class="row mt-2">

                <!--First column-->
                <div class="col-lg-8 col-md-12 mb-3 mt-5 center-on-small-only wow fadeIn" data-wow-delay="0.2s">
                    <img src="../../img/GeekPlaceCommunity.jpg" alt="" class="z-depth-0 img-fluid">
                </div>
                <!--/First column-->

                <!--Second column-->
                <div class="col-lg-4 col-md-12 center-on-small wow fadeIn" data-wow-delay="0.3s">
                    <h3 class="cyan-text-4 mt-5 pt-3">Get free support</h3>
                   <!-- <h1 class=" font-bold font-up mb-5">Powerful Material Design UI KIT</h1>-->
                    <p class="grey-text mb-4" align="justify">
                        This place is for the coders and you get to interact with the experts of their domain fields asks and drop your
                        code to them for easy interaction. This all forms the geeks community.
                    </p>
                   <!-- <a href="#!" class="btn btn-rounded btn-indigo-2"><i class="fa fa-download"></i>Get software</a>-->

                </div>
                <!--/Second column-->
            </div>
            <!--/First row-->

        </section>
        <!--/Section: About-->

        <hr class="between-sections">

        <!--Section: Live Demo-->
        <section class="section features-5">

            <!--First row-->
            <div class="row">

                <!--First column-->
                <div class="col-lg-5 col-md-5 center-on-small mb-2 smooth-scroll wow fadeIn" data-wow-delay="0.2s">
                    <h3 class="cyan-text-4 mt-5 pt-3">Programming Blogs</h3>
                   <!-- <h1 class=" mb-2 font-up font-bold mb-5">Get The Most Amazing Builder</h1>-->
                    <p class="grey-text">

                      </p>
                    <p class="grey-text mb-4" align="justify">
                       Get the unlimited number of programming blogs which help to increase your programming skills.All the blogs are for the
                        beginners and the experienced onces
                    </p>
                   <!-- <a href="#demo" data-offset="100" class="btn btn-rounded btn-indigo-2"><i class="fa fa-eye"></i>Live demo</a>-->

                </div>
                <!--/First column-->

                <!--Second column-->
                <div class="col-lg-7 col-md-7 offset-lg-1 mb-4 mt-4 pb-3 center-on-small-only wow fadeIn" data-wow-delay="0.3s">
                    <img src="../../img/coursel1.jpg" alt="" height="400" width="500" class="img-fluid z-depth-0">
                </div>
                <!--/Second column-->

            </div>
            <!--/First row-->

        </section>
        <!--/Section: Live Demo-->

    </div>

        <!-- **********************************Container for the companies which support this website**********************************-->

    <!--Second container-->
<!--    <div class="container-fluid background-grey">
        <div class="container pt-4">

            &lt;!&ndash;Heading&ndash;&gt;
            <div class="text-center">
                <h1 class="mb-1  font-bold mt-5 mb-3 wow fadeIn" data-wow-delay="0.2s">Take a Quick Look</h1>
                <h3 class="mb-5 wow fadeIn" data-wow-delay="0.2s">The Best Companies Which Trust Our Digital Goods</h3>
            </div>

            &lt;!&ndash;Items wrapper&ndash;&gt;
            <div class="mb-2 flex-center">

                &lt;!&ndash;First row&ndash;&gt;
                <div class="row mb-5 pb-3 wow fadeIn logos-panel" data-wow-delay="0.4s">

                    &lt;!&ndash;First column&ndash;&gt;
                    <div class="col-md-3 flex-center">
                        <img src="https://mdbootstrap.com/img/Photos/Template/5.png" class="img-fluid">
                    </div>
                    &lt;!&ndash;/First column&ndash;&gt;

                    &lt;!&ndash;Second column&ndash;&gt;
                    <div class="col-md-3 flex-center">
                        <img src="https://mdbootstrap.com/img/Photos/Template/6.png" class="img-fluid">
                    </div>
                    &lt;!&ndash;/Second column&ndash;&gt;

                    &lt;!&ndash;Third column&ndash;&gt;
                    <div class="col-md-3 flex-center">
                        <img src="https://mdbootstrap.com/img/Photos/Template/7.png" class="img-fluid">
                    </div>
                    &lt;!&ndash;/Third column&ndash;&gt;

                    &lt;!&ndash;Fourth column&ndash;&gt;
                    <div class="col-md-3 flex-center">
                        <img src="https://mdbootstrap.com/img/Photos/Template/9.png" class="img-fluid">
                    </div>
                    &lt;!&ndash;/Fourth column&ndash;&gt;

                </div>
                &lt;!&ndash;/First row&ndash;&gt;

            </div>
            &lt;!&ndash;/Items wrapper&ndash;&gt;

        </div>
    </div>-->
    <!--/Second container-->

    <div class="container">

        <!--Section: Pricing v.3-->
       <!-- <section class="section mt-4 mb-5">

            &lt;!&ndash;Section heading&ndash;&gt;
            <div class="text-center">
                <h1 class="mb-3  my-5 pt-4 font-bold wow fadeIn" data-wow-delay="0.2s">Our pricing plans</h1>
                &lt;!&ndash;Section description&ndash;&gt;
                <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

                &lt;!&ndash;First row&ndash;&gt;
                <div class="row">

                    &lt;!&ndash;First column&ndash;&gt;
                    <div class="col-lg-4 col-md-12 mb-r">
                        &lt;!&ndash;Card&ndash;&gt;
                        <div class="card">

                            &lt;!&ndash;Content&ndash;&gt;
                            <div class="text-center">
                                <div class="card-body">
                                    <h5>Basic plan</h5>
                                    <div class="flex-center">
                                        <div class="card-circle">
                                            <i class="fa fa-home cyan-text-4"></i>
                                        </div>
                                    </div>

                                    &lt;!&ndash;Price&ndash;&gt;
                                    <h2><strong>59$</strong></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa pariatur id nobis accusamus deleniti cumque hic laborum.</p>
                                    <a class="btn btn-info btn-rounded">Buy now</a>
                                </div>
                            </div>

                        </div>
                        &lt;!&ndash;/.Card&ndash;&gt;
                    </div>
                    &lt;!&ndash;/First column&ndash;&gt;

                    &lt;!&ndash;Second column&ndash;&gt;
                    <div class="col-lg-4 col-md-12 mb-r">
                        &lt;!&ndash;Card&ndash;&gt;
                        <div class="card light-blue darken-4">

                            &lt;!&ndash;Content&ndash;&gt;
                            <div class="text-center white-text">
                                <div class="card-body">
                                    <h5>Premium plan</h5>
                                    <div class="flex-center">
                                        <div class="card-circle">
                                            <i class="fa fa-group white-text"></i>
                                        </div>
                                    </div>

                                    &lt;!&ndash;Price&ndash;&gt;
                                    <h2><strong>79$</strong></h2>
                                    <p>Esse corporis saepe laudantium velit adipisci cumque iste ratione facere non distinctio cupiditate sequi atque.</p>
                                    <a class="btn btn-outline-white btn-rounded">Buy now</a>
                                </div>
                            </div>

                        </div>
                        &lt;!&ndash;/.Card&ndash;&gt;
                    </div>
                    &lt;!&ndash;/Second column&ndash;&gt;

                    &lt;!&ndash;Third column&ndash;&gt;
                    <div class="col-lg-4 col-md-12 mb-r">
                        &lt;!&ndash;Card&ndash;&gt;
                        <div class="card">

                            &lt;!&ndash;Content&ndash;&gt;
                            <div class="text-center">
                                <div class="card-body">
                                    <h5>Advanced plan</h5>
                                    <div class="flex-center">
                                        <div class="card-circle">
                                            <i class="fa fa-bar-chart cyan-text-4"></i>
                                        </div>
                                    </div>

                                    &lt;!&ndash;Price&ndash;&gt;
                                    <h2><strong>99$</strong></h2>
                                    <p>At ab ea a molestiae corrupti numquam quo beatae minima ratione magni accusantium repellat eveniet quia vitae.</p>
                                    <a class="btn btn-info btn-rounded">Buy now</a>
                                </div>
                            </div>

                        </div>
                        &lt;!&ndash;/.Card&ndash;&gt;
                    </div>
                    &lt;!&ndash;/Third column&ndash;&gt;

                </div>
                &lt;!&ndash;/First row&ndash;&gt;

        </section>-->
        <!--/Section: Pricing v.3-->

       <!-- <hr class="between-sections">-->

        <!--Section: Video-->
      <!--  <section id="demo" class="section mt-4 mb-5">

            &lt;!&ndash;Section heading&ndash;&gt;
            <div class="text-center">
                <h1 class="mb-3 my-5 pt-4 font-bold wow fadeIn" data-wow-delay="0.2s">See MDW Demo</h1>

                &lt;!&ndash;Section description&ndash;&gt;
                <p class="section-description wow fadeIn" data-wow-delay="0.2s">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                &lt;!&ndash;First row&ndash;&gt;
                <div class="row flex-center">

                    &lt;!&ndash;First column&ndash;&gt;
                    <div class="col-md-8 wow fadeIn" data-wow-delay="0.4s">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L9K&#45;&#45;hZhxY0" allowfullscreen></iframe>
                        </div>
                    </div>
                    &lt;!&ndash;First column&ndash;&gt;

                </div>
                </div>
                &lt;!&ndash;First row&ndash;&gt;

        </section>-->
        <!--/Section: Video-->

       <!-- <hr class="between-sections">-->

        <!--Section: Download-->
     <!--   <section id= "download" class="section mt-4">

            &lt;!&ndash;First row&ndash;&gt;
            <div class="row">

                &lt;!&ndash;Second column&ndash;&gt;
                <div class="col-lg-4 col-md-12 mb-r mt-5 center-on-small-only wow fadeIn" data-wow-delay="0.2s">
                    <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-admin1.png" alt="" class="z-depth-0 img-fluid">
                </div>
                &lt;!&ndash;/Second column&ndash;&gt;

                &lt;!&ndash;Second column&ndash;&gt;
                <div class="col-lg-7 col-md-12 center-on-small wow fadeIn" data-wow-delay="0.3s">
                    <i class="fa fa-cloud-download fa-5x cyan-text-4 mt-5 pt-3"></i>
                    <h1 class=" font-up  font-bold mb-5 pt-2">Download Software From MDB Today!</h1>
                    <p class="grey-text mb-4" align="justify">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <a href="#!" class="btn btn-rounded btn-info"><i class="fa fa-download"></i>Download MDB</a>

                </div>
                &lt;!&ndash;/Second column&ndash;&gt;
            </div>
            &lt;!&ndash;/First row&ndash;&gt;

        </section>-->
        <!--/Section: Download-->

      <!--  <hr class="between-sections">-->

        <!--Section: Testimonials v.3-->
      <!--  <section id="testimonials" class="section team-section">

            &lt;!&ndash;Section heading&ndash;&gt;
            <h1 class="text-center my-5 pt-4  font-bold wow fadeIn" data-wow-delay="0.2s">What Clients said:</h1>

            &lt;!&ndash;Section description&ndash;&gt;
            <p class="section-description mb-5 wow fadeIn" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

            &lt;!&ndash;Grid row&ndash;&gt;
            <div class="row text-center">

                &lt;!&ndash;Grid column&ndash;&gt;
                <div class="col-md-4 mb-r">

                    <div class="testimonial">
                        &lt;!&ndash;Avatar&ndash;&gt;
                        <div class="avatar">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
                        </div>

                        &lt;!&ndash;Content&ndash;&gt;
                        <h4 class="mb-3">Anna Deynah</h4>
                        <h6 class="mb-3 font-bold grey-text">Web Designer</h6>
                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</p>

                    </div>
                </div>
                &lt;!&ndash;Grid column&ndash;&gt;

                &lt;!&ndash;Grid column&ndash;&gt;
                <div class="col-md-4 mb-r">
                    <div class="testimonial">
                        &lt;!&ndash;Avatar&ndash;&gt;
                        <div class="avatar">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
                        </div>

                        &lt;!&ndash;Content&ndash;&gt;
                        <h4 class="mb-3">John Doe</h4>
                        <h6 class="mb-3 font-bold grey-text">Web Developer</h6>
                        <p><i class="fa fa-quote-left"></i> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>

                    </div>
                </div>
                &lt;!&ndash;Grid column&ndash;&gt;

                &lt;!&ndash;Grid column&ndash;&gt;
                <div class="col-md-4 mb-r">
                    <div class="testimonial">
                        &lt;!&ndash;Avatar&ndash;&gt;
                        <div class="avatar">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
                        </div>
                        &lt;!&ndash;Content&ndash;&gt;
                        <h4 class="mb-3">Maria Kate</h4>
                        <h6 class="mb-3 font-bold grey-text">Photographer</h6>
                        <p><i class="fa fa-quote-left"></i> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>

                    </div>
                </div>
                &lt;!&ndash;Grid column&ndash;&gt;

            </div>
            &lt;!&ndash;Grid row&ndash;&gt;

        </section>-->
        <!--/Section: Testimonials v.3-->

    </div>
    <!--/Third container-->
<script>
    (function(){
        var p = document.createElement('script');
        p.type = 'text/javascript';
        p.async = true;
        p.src = 'https://apis.google.com/js/client.js?onload=onLoadFunction';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(p,s);
    })();

</script>
</main>
<!--Main content-->

 <!--Footer-->
<ng-include src=" 'app/layout/views/footer.html' "></ng-include>
