<link rel="stylesheet" href="../../../../bower_components/Materialize/bin/materialize.css" />
<link rel="stylesheet" href="../../../../bower_components/ng-notify/src/styles/ng-notify.css" />
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp) styles/chat.css -->
<link rel="stylesheet" href="../styles/typing-indicator.css">
<link rel="stylesheet" href="../styles/chat.css">
<link rel="stylesheet" href="../styles/online-user-list.css">
<link rel="stylesheet" href="../styles/typing-indicator-box.css">


<link rel="stylesheet" href="../styles/ng-notify.theme.css">
<!-- endbuild -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="message-container" style="height:40%">
  <online-user-list></online-user-list>
  <message-list></message-list>
  <typing-indicator-box></typing-indicator-box>
  <message-form></message-form>
</div>