<ng-include  src=" 'app/layout/views/navigation.html' "></ng-include>
<div  style="margin-top: 10px" class="bd-example bd-example-tabs">
    <div class="card-body text-center" style="height: 60px!important;margin-top: 20px">
        <!--<div style="background-color: #ffffff;padding: 20px" id="appendData"></div>-->
        <div class="example-box">
            <h1>Lorem impsum</h1>
            <div class="wraper">
                <div class="custom-textarea" id="custom-textarea">
                    <div id="appendData"></div>
                </div>
            </div>
            <div style="width: 100%" class="custom-control">
                <div style="width: 100%" class="row">
                    <div class="col-lg-2 col-md-2">
                        <a
                                class="tp-control-arrow-left postdescription-blog-custom-btn-forward-backward btn btn-primary">
                            <span> <i class="fa fa-arrow-left"></i> Previous </span></a>
                    </div>

                    <div class="col-lg-8 col-md-8">
                        <nav style="float: right;margin-top: 23px" aria-label="Page navigation example">
                        <ul class="custom-pages pagination">
                        </ul>
                        </nav>
                    </div>

                    <div class="col-lg-2 col-md-2">
                        <a style="float: right" class="tp-control-arrow-right postdescription-blog-custom-btn-forward-backward btn btn-primary">
                            <span>Next <i class="fa fa-arrow-right"></i></span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
<br>
<!--
<ng-include style="margin-top: 200px" src=" 'app/layout/views/footer.html' "></ng-include>-->
