<ng-include src=" 'app/layout/views/navigation.html' "></ng-include>
<div class="container">
  <!--  <h2>Welcome to the Programming Groups</h2>-->

    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">
                    <div class="view overlay hm-white-slight">
                        <img  src="../../img/javaGroup.jpg"  width="100%" height="150"
                             class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Java</h4>
                        <a style="float:left" ng-click="liveGroupChatPage('Java')" class="btn btn-unique">Live</a>
                        <a style="float:right" ng-click="pageAskQuestion('java')" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">

                    <div class="view overlay hm-white-slight">
                        <img src="../../img/androidGroup.jpg"  width="100%" height="150"
                             class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Android</h4>
                        <a style="float:left" ng-click="liveGroupChatPage('Android')" class="btn btn-unique">Live</a>
                        <a style="float:right" ng-click="pageAskQuestion('android')" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">
                    <div class="view overlay hm-white-slight">
                        <img src="../../img/DotNetGroup.jpg"  width="100%" height="150"
                             class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">.Net</h4>
                        <a style="float:left" ng-click="liveGroupChatPage('.Net')" class="btn btn-unique">Live</a>
                        <a style="float:right" ng-click="pageAskQuestion('android')" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">
                    <div class="view overlay hm-white-slight">
                        <img  src="../../img/javascriptGroup.jpg"  width="100%" height="150"
                              class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Javascript</h5>
                        <a style="float:left" ng-click="liveGroupChatPage('Javascript')" class="btn btn-unique">Live</a>
                        <a style="float:right" ng-click="pageAskQuestion('Javascript')" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">
                    <div class="view overlay hm-white-slight">
                        <img src="../../img/phpGroup.jpg"  width="100%" height="150"
                             class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">PHP</h4>
                        <a style="float:left" ng-click="liveGroupChatPage('PHP')" class="btn btn-unique">Live</a>
                        <a style="float:right" ng-click="pageAskQuestion('PHP')" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">
                    <div class="view overlay hm-white-slight">
                        <img src="../../img/c_c++Group.jpg"  width="100%" height="150"
                             class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">C / C++</h4>
                        <a style="float:left" ng-click="liveGroupChatPage('C / C++')" class="btn btn-unique">Live</a>
                        <a style="float:right" ng-click="pageAskQuestion('C / C++')" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">
                    <div class="view overlay hm-white-slight">
                        <img  src="../../img/csharpGroup.png"  width="100%" height="150"
                              class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">C#</h4>
                        <a style="float:left" ng-click="liveGroupChatPage('C#')" class="btn btn-unique">Live</a>
                        <a style="float:right" ng-click="pageAskQuestion('C#')" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">
                    <div class="view overlay hm-white-slight">
                        <img src="../../img/phythonGroup.jpg"  width="100%" height="150"
                             class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Phython</h4>
                        <a style="float:left" ng-click="liveGroupChatPage('Phython')" class="btn btn-unique">Live</a>
                        <a style="float:right" ng-click="pageAskQuestion('Phython')" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">
                    <div class="view overlay hm-white-slight">
                        <img src="../../img/sqlGroup.jpg"  width="100%" height="150"
                             class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">SQL</h4>
                        <a style="float:left" ng-click="liveGroupChatPage('SQL')" class="btn btn-unique">Live</a>
                        <a style="float:right" ng-click="pageAskQuestion('SQL')" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">
                    <div class="view overlay hm-white-slight">
                        <img  src="../../img/rubyOnRailsGroup.jpg"  width="100%" height="150"
                              class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Ruby On Rails</h4>
                        <a style="float:left" ng-click="liveGroupChatPage('Ruby On Rails')" class="btn btn-unique">Live</a>
                        <a style="float:right" ng-click="pageAskQuestion('Ruby On Rails')" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">
                    <div class="view overlay hm-white-slight">
                        <img src="../../img/objectiveCGroup.png"  width="100%" height="150"
                             class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Objective C</h4>
                        <a style="float:left" ng-click="liveGroupChatPage('Objective C')" class="btn btn-unique">Live</a>
                        <a style="float:right" ng-click="pageAskQuestion('Objective C')" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">
                    <div class="view overlay hm-white-slight">
                        <img src="../../img/perlGroup.jpg"  width="100%" height="150"
                             class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Perl</h4>
                        <a style="float:left" ng-click="liveGroupChatPage('Perl')" class="btn btn-unique">Live</a>
                        <a style="float:right" ng-click="pageAskQuestion('Perl')" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">
                    <div class="view overlay hm-white-slight">
                        <img  src="../../img/htmlCssGroup.png"  width="100%" height="150"
                              class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">HTML / CSS</h4>
                        <a style="float:left" ng-click="liveGroupChatPage('HTML / CSS')" class="btn btn-unique">Live</a>
                        <a style="float:right" ng-click="pageAskQuestion('HTML / CSS')" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">
                    <div class="view overlay hm-white-slight">
                        <img src="../../img/scalaGroup.jpg"  width="100%" height="150"
                             class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Scala</h4>
                        <a style="float:left" ng-click="liveGroupChatPage('Scala')" class="btn btn-unique">Live</a>
                        <a style="float:right" ng-click="pageAskQuestion('Scala')" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>
         <!--   <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-cascade narrower" style="width: 20rem;margin-top: 2rem">
                    <div class="view overlay hm-white-slight">
                        <img src="../../img/DotNetGroup.jpg"  width="100%" height="150"
                             class="img-fluid group-img" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Java</h4>
                        <a style="float: right" class="btn btn-unique">Next</a>
                    </div>
                </div>
            </div>-->
        </div>
    </div>


</div>