<div id="wrapper">
    <div id="inner1">
        <user-avatar ng-class="userLocalStorage.email != content.sendRequestUserEmail ? 'secondUserPicDisplay' : 'firstUserPicDisplay'" content="content" uuid="{{senderUuid}}"></user-avatar>
    </div>
    <!--<div id="inner2">
        <button type="button" ng-click="addTab()" class="btn btn-primary">Chat</button>
    </div>-->
    <span ng-class="userLocalStorage.email != content.sendRequestUserEmail ? 'displayRight' : ''" class="title"><b>{{content.userName }}</b></span>
    <p ng-class="{ 'displayLeft': userLocalStorage.email != content.sendRequestUserEmail}" style="display: inline-block;padding-left: 20px;float:right;  color: #a0763e;font-family: cursive;font-size: 12px">
        <i class="fa fa-clock-o" aria-hidden="true"></i> {{date | date:"d MMM,y 'at' h:mm a"}}</p>
    <p ng-class="{ 'messageLeft': userLocalStorage.email != content.sendRequestUserEmail,'messageRight':userLocalStorage.email == content.sendRequestUserEmail}" class="user-message">{{ content.messageContent }}</p>
    <img ng-if="content.hasOwnProperty('file')" src="{{userPicName}}" height="100" alt="Image preview...">
</div>



