<link rel="stylesheet" href="../../../../bower_components/Materialize/bin/materialize.css" />
<link rel="stylesheet" href="../../../../bower_components/ng-notify/src/styles/ng-notify.css" />
<link rel="stylesheet" href="../styles/typing-indicator.css">
<link rel="stylesheet" href="../styles/chat.css">
<link rel="stylesheet" href="../styles/online-user-list.css">
<link rel="stylesheet" href="../styles/typing-indicator-box.css">
<link rel="stylesheet" href="../styles/ng-notify.theme.css">
<!-- endbuild -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div ng-controller="messageContainerCtrl" style="margin: 5px 5px 5px 5px;height:500px;max-height: 152%" >
    <div class="message-container">
        <online-user-list></online-user-list>
        <message-list changeChannel="channelChange"></message-list>
        <typing-indicator-box></typing-indicator-box>
        <message-form id="chatBoxFooterId"  messagetext="{{messageText}}"  language="{{language}}" messagesend="messagesend" messagestatus="messagestatus()"></message-form>
       <javascript-compiler></javascript-compiler>
    </div>
</div>
