<ng-include  src=" 'app/layout/views/navigation.html' "></ng-include>
<div  ng-controller="blogListCtrl" style="margin-top: 10px" class="bd-example bd-example-tabs">

  <div  style="padding: 20px">
      <div class="row">

          <div class="col-md-3 col-lg-3">
              <div class="nav-side-menu">
                  <div class="brand">Brand Logo</div>
                  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                  <div class="menu-list">

                      <ul id="menu-content" class="menu-content collapse out">
                          <li>
                              <a href="#">
                                  <i class="fas fa-tachometer-alt fa-lg"></i> Dashboard
                              </a>
                          </li>

                          <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                              <a href="#"><i class="fab fa-studiovinari fa-lg"></i> UI Elements <span class="arrow"></span></a>
                          </li>
                          <ul class="sub-menu collapse" id="products">
                              <li class="active"><a href="#">CSS3 Animation</a></li>
                              <li><a href="#">General</a></li>
                              <li><a href="#">Buttons</a></li>
                              <li><a href="#">Tabs & Accordions</a></li>
                              <li><a href="#">Typography</a></li>
                              <li><a href="#">FontAwesome</a></li>
                              <li><a href="#">Slider</a></li>
                              <li><a href="#">Panels</a></li>
                              <li><a href="#">Widgets</a></li>
                              <li><a href="#">Bootstrap Model</a></li>
                          </ul>


                          <li data-toggle="collapse" data-target="#service" class="collapsed">
                              <a href="#"><i class="fab fa-fort-awesome-alt fa-lg"></i> Services <span class="arrow"></span></a>
                          </li>
                          <ul class="sub-menu collapse" id="service">
                              <li>New Service 1</li>
                              <li>New Service 2</li>
                              <li>New Service 3</li>
                          </ul>


                          <li data-toggle="collapse" data-target="#new" class="collapsed">
                              <a href="#"><i class="fab fa-pagelines fa-lg"></i> New <span class="arrow"></span></a>
                          </li>
                          <ul class="sub-menu collapse" id="new">
                              <li>New New 1</li>
                              <li>New New 2</li>
                              <li>New New 3</li>
                          </ul>


                          <li>
                              <a href="#">
                                  <i class="fas fa-user-tie fa-lg"></i> Profile
                              </a>
                          </li>

                          <li>
                              <a href="#">
                                  <i class="fa fa-users fa-lg"></i> Users
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-md-9 col-lg-9">
              <table id="dtBasicExample" style="margin-top: -20px" class="table table-filter" cellspacing="2" width="100%">
                  <thead>
                  <tr style="padding: 13px">
                      <th class="th-sm">Name</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="onHoverBlog"  ng-repeat="blog in blogList">
                      <td class="onHoverBlog">
                          <div style="margin: -7px;height:210px" class="blog-container" >

                              <div class="blog-header">
                                  <div style="display: inline" class="userBlogList-card__img">
                                      <img ng-if="blog.customImage.name" ng-src="{{'data:image/jpeg;base64,' + hexToBase64(blog.customImage.file)}}" alt="userProfile card">
                                      <img ng-if="!blog.customImage.name" ng-src="../../img/avatar.png" alt="userProfile card">

                                  </div>
                                  <div style="display: inline-block" class="blog-author--no-cover">
                                      <h3>{{blog.fullName}}</h3>
                                      <hr>
                                      <p style="float: right">{{blog.postDate}}</p>
                                  </div>
                              </div>

                              <div class="blogList-body">
                                  <div class="blog-title">
                                      <h3><a href="#">{{blog.postName}}</a></h3>
                                  </div>
                                  <div class="blog-summary">
                                      <p>{{blog.country}}, {{blog.state}}</p>
                                  </div>
                                  <div style="display: inline" class="blog-summary">
                                      <p style="display: inline">{{blog.postDescription}}</p>
                                  </div>
                                  <div style="display: inline">
                                      <button  style="float:right;background-color: #439ede!important;display: inline" ng-click="blogPost(blog.postkey)" class="btn btn-success blogBtn"  type="button">
                                          <span>Read Post</span>
                                      </button>
                                  </div>

                                  <div class="blog-tags">
                                      <ul>
                                          <li ng-repeat="skill in blog.skills"><a href="#">{{skill.text}}</a></li>
                                      </ul>
                                  </div>
                                  <div class="blog-footer">
                                      <ul>

                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </td>
                  </tr>
                  </tbody>
              </table>
          </div>

      </div>


          <style>
              input[type=search] {
                  padding: 3px;
              }
          </style>


  </div>
    <script>
        $(document).ready(function() {

        });
    </script>
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
   &lt;!&ndash; <script type="text/javascript" src="//use.typekit.net/wtt0gtr.js"></script>&ndash;&gt;
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->
<style>
    body {
        background: #e5ded8;
    }

</style>
</div>
<br>
<ng-include style="margin-top: 200px" src=" 'app/layout/views/footer.html' "></ng-include>