<!--Footer-->
<footer class="page-footer center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">

        <!--First row-->
        <div class="row mb-2 wow fadeIn" data-wow-delay="0.2s">

            <!--First column-->
            <div class="col-md-12 text-center smooth-scroll">

                <!--Icon-->
                <i class="fa fa-code fa-4x pink-text pt-4 pb-2"></i>
                <!--Title-->
                <h2 class="mb-4 mt-3 bold-font">Write to us in <strong>{contact}</strong> form for improvement</h2>
                <!--Description-->
                <p class="white-text mb-4">.</p>
                <!--Reservation button-->
                <!--<a class="btn btn-rounded btn-pink" data-toggle="modal" data-target="#modal-subscription">Subscribe</a>-->
                <a class="btn btn-rounded btn-info" data-toggle="modal" data-target="#modal-contact">Contact form</a>

            </div>
            <!--/First column-->

        </div>
        <!--/First row-->

    </div>

    <hr class="my-5">

    <div class="container">

        <!--Second row-->
        <div class="row mt-2 mb-1 text-center wow fadeIn" data-wow-delay="0.3s">

            <!--First column-->
            <div class="col-md-4 col-md-4">

                <!--Title-->
                <h5 class="title">Opening hours</h5>

                <!--Opening hours table-->
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Mon - Thu:</td>
                        <td>9am - 5pm</td>
                    </tr>
                   <!-- <tr>
                        <td>Fri - Sat:</td>
                        <td>8am - 1am</td>
                    </tr>-->
                  <!--  <tr>
                        <td>Sunday:</td>
                        <td>9am - 10pm</td>
                    </tr>-->
                    </tbody>
                </table>

            </div>
            <!--/First column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Second column-->
            <div class="col-md-4">

                <!--Title-->
                <h5 class="title">Location</h5>

                <!--Address-->
                <p>12 Poplar Drive<br>
                    Cambridge, N3C OG4 , Canada<br>

                    <!--Title-->
                <h5 class="title">Contact</h5>

                <!--Contact info-->
                <p>Mr. Navjot Singh<br>
                    +1 - 519-500-5830<br>
                    navjot2608@gmail.com</p>

            </div>
            <!--/Second column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Third column-->
            <div class="col-md-4">

                <!--Title-->
               <!-- <h5 class="title">Stay in touch</h5>-->

                <!--Social buttons-->
                <ul class="inline-ul">
                   <!-- <li><a class="btn-floating  btn-fb waves-effect waves-light"><i class="fa fa-facebook"> </i></a></li>
                    <li><a class="btn-floating  btn-tw waves-effect waves-light"><i class="fa fa-twitter"> </i></a></li>
                    <li><a class="btn-floating  btn-gplus waves-effect waves-light"><i class="fa fa-google-plus"> </i></a></li>-->
                </ul>
                <!--/Social buttons-->

            </div>
            <!--/Third column-->

        </div>
        <!--/Second row-->

    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            © 2016 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>

        </div>
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->

<!-- SCRIPTS -->





