<ng-include src=" 'app/layout/views/navigation.html' "></ng-include>
<!--<link rel="stylesheet"  href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">-->


<div class="container table-container" ng-controller="liveGroupChatCtrl">

    <table id="dtBasicExample" style="margin-top: -20px" class="table table-filter" cellspacing="2" width="100%">
        <thead>
        <tr style="padding: 13px">
            <th class="th-sm">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="userDetail in userProfileDetails">
            <td  class="card mt-3 tab-card" ng-click="liveUserChat(userDetail)">
             <div class="chatTabId">
                  <div class="media row">
                      <div style="height: 54px" class="col-md-4 col-lg-4">
                          <a href="#" class="pull-left">
                              <img style="border: 2px solid #d1d3d4;border-radius: 50%" src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" width="42px" class="media-photo">
                              <span style="left: 70px;position: absolute;top:-3px;font-weight: 600">{{userDetail.fullName}}</span>
                              <span class="summary chat-quote">{{userDetail.skillsQuotes}}</span>
                          </a>
                      </div>
                      <div class="col-md-5 col-lg-5">

                      </div>
                      <div class="col-md-3 col-lg-3">
                          <div class="media-body" style="margin-left: 22px">
                              <span style="float:right" class="media-meta pull-right">13 Febuary, 2016</span>
                              <h4 class="title">
                                 <!-- <span class="pull-right pagado">(Pagado)</span>-->
                                  <span ng-if="userDetail.action == 'join'"><span class="green-dot"></span><span style="margin-left: 12px;color: #228B22">Online</span></span>
                                  <span ng-if="userDetail.action != 'join'"><span class="red-dot"></span><span style="margin-left: 12px;color: #696969">Offline</span></span>
                              </h4>

                          </div>
                      </div>
                  </div>
                    </div>
                </td>
        </tr>
        </tbody>

    </table>
    <style>
        input[type=search] {
            padding: 3px;
        }
    </style>
</div>
<ng-include src=" 'app/layout/views/footer.html' "></ng-include>