<ng-include src=" 'app/layout/views/navigation.html' "></ng-include>

<div class="row">
  <div class="col-sm-9 col-md-9">
    <ng-include
      src=" 'app/layout/message-container/views/messageContainer.html'"
    ></ng-include>
    <!--Footer-->
  </div>

  <div ng-if="pageType == 'user'" class="col-sm-3 col-md-3">
    <div class="card indigo text-center z-depth-2" style="height: 45px;">
      <div class="card-body" style="padding: 10px;">
        <!-- <p class="white-text mb-0">Select the Mode</p>-->
        <!-- Material switch -->
        <div class="switch">
          <label style="color: #ffffff;">
            Ask Questions
            <input
              ng-click="userToggleSwitchForAskQuestionAndLiveUserRequest(askQuestion =!askQuestion)"
              type="checkbox"
            />
            <span class="lever"></span>Live Users Requests
          </label>
        </div>
      </div>
    </div>

    <!------------------ left Menu for content for ask question mode and live users request handling mode----------------------->
    <div>
      <!**********************left menu for the ask question mode Channel Group*********************>
      <div ng-if="selectGroupAskMode">
        <div class="dropdown">
          <!--Trigger-->
          <button
            ng-bind="language"
            style="position: absolute; right: 114px; width: 168px; top: 53px;"
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="dropdownMenu1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          ></button>

          <!--Menu-->
          <div class="dropdown-menu dropdown-primary">
            <a
              class="dropdown-item"
              ng-click="selectedLanguage(x)"
              ng-repeat="x in names"
              href="#"
              >{{x}}</a
            >
          </div>
          <!--/Dropdown primary-->
          <b ng-if="messageStatus=='fail'" style="color: #ff0000;"
            >please select the language</b
          >
        </div>
      </div>
      <!*********************left menu for the ask question mode live User Chat**************************>
      <div class="white z-depth-1 px-3 pt-3 pb-0" ng-if="liveUserRequestsMode">
        <ul
          style="width: 110%; margin-top: -10px;"
          class="list-group list-unstyled friend-list"
        >
          <li
            ng-repeat="liveUserRequest in liveUserRequestList | reverse track by liveUserRequest.uuid"
            id="{{'liveUserRequest' + $index}}"
            style="
              font-weight: bold;
              box-shadow: none !important;
              border-left: 0px solid;
              border-right: 0px solid;
              margin-bottom: 7px;
            "
            ng-click="AcceptLiveUserRequest(liveUserRequest,'list-group-item')"
            class="list-group-item d-flex justify-content-between align-items-center liveRequestUserCard img-fluid rounded p-2"
          >
            <a href="#" class="d-flex justify-content-between">
              <img
                ng-if="liveUserRequest.liveRequestUserPic"
                src="userProfileImage/{{liveUserRequest.liveRequestUserPic}}"
                width="38px"
                height="38px"
                alt="avatar"
                class="avatar rounded-circle d-flex align-self-center z-depth-1 image-border"
              />
              <img
                ng-if="!liveUserRequest.liveRequestUserPic"
                src="../../img/avatar.png"
                class="avatar-img user-nav-image-border"
                alt="View"
              />
              <div class="text-small">
                <strong style="color: #007bff; padding-left: 5px;"
                  >{{liveUserRequest.liveRequestUserName}}</strong
                >
                <p
                  style="
                    position: absolute;
                    font-family: sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    padding-left: 12px;
                  "
                  class="last-message text-muted"
                >
                  {{liveUserRequest.messageContent | limitTo:
                  15}}{{liveUserRequest.messageContent.length>15? '...':''}}
                </p>
                <!-- <span style="color:#ffffff" class="badge badge-primary badge-pill"></span>-->
                <!-- <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#exampleModalLong"
                >
                  video Confercing
                </button> -->
              </div>
              <div style="position: absolute; right: 1px;" class="chat-footer">
                <!-- <p style="font-family: sans-serif;font-weight: 600;font-size: 12px;padding-left: 30px" class="text-smaller text-muted mb-0">Just now</p>-->
                <span
                  ng-show="liveUserRequest.liveRequestUserRequestCount!=0"
                  style="color: #ffffff; min-width: 1rem;"
                  class="badge badge-danger float-right"
                  >{{liveUserRequest.liveRequestUserRequestCount}}</span
                >
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!********************End**************************************************************>

      <!--*******************************************Video Confercing*************************************************************-->
      <div
        class="modal fade"
        id="exampleModalLong"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLongTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Modal title
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="zmmtg-root" zoom></div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="card text-center z-depth-2" style="height:45px;margin-top:30px">
            <div class="card-body">
                <p class="white-text mb-0" style="margin-top: -7px">Select the Theme</p>
            </div>
        </div>-->
    <div style="position: absolute; top: 129px;">
      <button
        type="button"
        class="btn btn-demo"
        data-toggle="modal"
        data-target="#fullHeightModalRight"
      >
        Received Code
      </button>
    </div>

    <!********************************** right side modal for the Notifications*******************************************>
    <!-- Full Height Modal Right -->
    <div
      class="modal fade right"
      style="max-height: 97% !important;"
      id="fullHeightModalRight"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
      <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
          <div style="padding: 0px;" class="modal-header">
            <h6 class="modal-title w-100" id="myModalLabel">Code</h6>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul
              style="width: 110%; margin-top: -10px;"
              class="list-group list-unstyled friend-list"
            >
              <li
                ng-repeat="compilerNotification in compilerNotificationList | reverse track by compilerNotification.uuid"
                id="{{'compilerNotification' + $index}}"
                style="
                  font-weight: bold;
                  box-shadow: none !important;
                  border-left: 0px solid;
                  border-right: 0px solid;
                  margin-bottom: 7px;
                "
                ng-click="showSenderCompilerCode(compilerNotification)"
                class="list-group-item d-flex justify-content-between align-items-center liveRequestUserCard img-fluid rounded p-2"
              >
                <a href="#" class="d-flex justify-content-between">
                  <img
                    ng-if="compilerNotification.compilerCodeSenderuserPicName"
                    src="{{compilerNotification.compilerCodeSenderuserPicName}}"
                    width="38px"
                    height="38px"
                    alt="avatar"
                    class="avatar rounded-circle d-flex align-self-center z-depth-1 image-border"
                  />
                  <img
                    ng-if="!compilerNotification.compilerCodeSenderuserPicName"
                    src="../../img/avatar.png"
                    class="avatar-img user-nav-image-border"
                    alt="View"
                  />
                  <div class="text-small">
                    <!-- <strong style="color: #007bff;padding-left: 5px">{{compilerNotification.liveRequestUserName}}</strong>-->
                    <p
                      style="
                        position: absolute;
                        font-family: sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        padding-left: 12px;
                      "
                      class="last-message text-muted"
                    >
                      Hello
                    </p>
                    <!-- <span style="color:#ffffff" class="badge badge-primary badge-pill"></span>-->
                  </div>
                  <div
                    style="position: absolute; right: 1px;"
                    class="chat-footer"
                  >
                    <p
                      style="
                        font-family: sans-serif;
                        font-weight: 600;
                        font-size: 12px;
                        padding-left: 30px;
                      "
                      class="text-smaller text-muted mb-0"
                    >
                      Just now
                    </p>
                    <span
                      style="color: #ffffff; min-width: 1rem;"
                      class="badge badge-danger float-right"
                      >{{liveUserRequest.liveRequestUserRequestCount}}</span
                    >
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="modal-footer justify-content-center">
            <button
              type="button"
              id="closeNotification"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button>-->
          </div>
        </div>
      </div>
    </div>
    <!-- Full Height Modal Right -->
    <!-- Full Height Modal Right -->
  </div>
</div>
<style>
  /* #zmmtg-root,
  .meeting-client,
  .meeting-client-inner {
    width: 30vh;
    height: 50vh;
    position: relative;
  }

  #wc-footer {
    bottom: auto !important;
    width: 1000px !important;
  }

  #dialog-join {
    width: 1000px !important;
  }

  #sv-active-video,
  .active-main,
  #sv-active-speaker-view,
  .main-layout {
    height: 500px !important;
    width: 1000px !important;
  }

  .suspension-window {
    transform: translate(-444px, 10px) !important;
  }

  #dialog-invite {
    display: none;
  } */

  .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
  }
  .float-right {
    float: right !important;
  }
  .badge-danger {
    background-color: #ff3547 !important;
    color: #fff !important;
  }

  #fullHeightModalRight {
    position: absolute;
    left: -83px !important;
    /* overflow-y: visible; */
    max-height: 120% !important;
    width: 394px !important;
    height: 120% !important;
    /* bottom: -37%!important; */
  }
</style>
<!--<script src="../ZoomMtg.js"></script>-->
<!-- <script src="https://source.zoom.us/1.7.9/lib/vendor/react.min.js"></script>
<script src="https://source.zoom.us/1.7.9/lib/vendor/react-dom.min.js"></script>
<script src="https://source.zoom.us/1.7.9/lib/vendor/redux.min.js"></script>
<script src="https://source.zoom.us/1.7.9/lib/vendor/redux-thunk.min.js"></script>
<script src="https://source.zoom.us/1.7.9/lib/vendor/jquery.min.js"></script>
<script src="https://source.zoom.us/1.7.9/lib/vendor/lodash.min.js"></script>
<script src="https://source.zoom.us/zoom-meeting-1.7.9.min.js"></script> -->

<div id="footerId" class="footer">
  <p>Footer</p>
</div>
